.button-back {
  cursor: pointer;
  font-weight: bold;
  color: #141515;
}
.button-back:hover {
  color: #d3cccc;
}

.icon-details {
  color: #000000;
  margin-right: 10px;
}

.btn-actions {
  position: absolute;
  top: 0px;
  right: 15px;
}

.card {
  background-color: #c3cdd3 !important;
  border: 0 !important;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 1px 1px 27px -14px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 1px 27px -14px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 1px 27px -14px rgba(0, 0, 0, 0.49);
}

.btn {
  border-radius: 20px;
}

body {
  color: #000000 !important;
}
.form-control {
  /* border: 0px solid !important; */
  border-radius: 15px !important;
}

.input-search {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 400px;
  border: 0px solid;
  background: #0c0c0c;
}

.page-loader {
  width: 100%;
  height: 100vh;
  background: rgb(150, 150, 150);
  background: linear-gradient(
    135deg,
    rgb(245, 246, 249) 0%,
    rgba(216, 229, 242, 1) 36%,
    rgb(44, 64, 85) 100%
  );
}
