.main-container {
  height: 100%;
  min-height: 100vh;
  background: rgb(248, 249, 253);
  background: linear-gradient(
    135deg,
    rgba(248, 249, 253, 1) 0%,
    rgba(216, 229, 242, 1) 36%,
    rgba(216, 229, 242, 1) 100%
  );
}
.menu {
  width: 25vw;
  height: 100vh;
  position: fixed;
  left: 1%;
  right: 1%;
  top: 2%;
  bottom: 5%;
  z-index: 999;
}

.main-content {
  margin-left: 284px;
  border-radius: 25px;
  padding-top: 40px;
}

.menu-items {
  list-style: none;
  margin: 0px;
  padding: 5%;
}
.title-menu{
  font-weight: bold;
  color: #1A66FF !important;
  font-size: 17px;
  padding: 0px;
  margin-left: 20px;
}
.menu-items li a {
  color: #57575a;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}
.menu-icon {
  margin-right: 1px;
}

.menu-items li {
  padding: 9px ;
}
.item-active {
  color: #424244 !important;
}

.menu-items li a:hover {
  color: #616163;
}

.header {
  width: 100%;
  height: 100px;
  background: #eb9a0d;
}

.profile{
  margin: 0 auto;
  display: block;
  width: 100px;
  margin-top: 40px;

}

.logo{
  margin: 0 auto;
  display: block;
  width: 100px;
  margin-top: 20px;
}

